.feta-export--bold-title {
  color: var(--text-accent);
}

.feta-export--modal .modal {
  max-width: 90vw;
}

.feta-export--output-path .setting-item-control {
  flex: 3 1 auto;
}

.feta-export--output-path .setting-item-info {
  max-width: 50%;
}

.feta-export--output-path textarea {
  min-width: 250px;
  flex: 4 1 auto;
  word-break: break-all;
}

.feta-export--export-button {
  float: right;
  margin: 0;
}
